@import "theme.css";

/* Base Styles */

window#waybar {
    background: @bar-bg;
}

.module {
    color: @main-fg;
}

#workspaces button {
    margin-top: 0.3em;
    color: @main-fg;
}

#workspaces button.active {
    background: @wb-act-bg;
    color: @wb-act-fg;
    margin-right: 0.3em;
}

#workspaces button:hover {
    background: @wb-hvr-bg;
    color: @wb-hvr-fg;
}

#workspaces {
  border-style: solid;
  border-color: #bada55;
  padding: 0 1.5rem;
}

window#waybar label.module {
    padding: 0 0.2em;
    margin: 0 0.2em;
}

window#waybar #pill {
    padding: 0em 1em;
}

/* ? Dynamic button */

tooltip {
    /* all: unset; */
    background: @main-bg;
    color: @main-fg;
    border-width: 0.1em;
    border-color: @main-fg;
}

window.popup decoration {
    border-width: 0.1em;
    border-color: @main-fg;
}

#tray, #tray menu * {
  min-height: 20px;
  min-width: 2rem;
  padding: 0 .5rem;
}

#tray {
  margin-left: 0.3rem;
}

#tray menu * {
    min-height: 1.6em;
}

#tray menu separator {
    min-height: 0.1em;
}

#tray menu menuitem check,
#tray menu menuitem radio {
    min-height: 1em;
    min-width: 1em;
}

menu {
    background-color: @main-bg;
}

menu menuitem {
    transition: 0.25s;
}

menu menuitem:hover {
    background-color: @wb-act-bg;
    color: @wb-act-fg;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

tooltip,
menu {
   color: @main-fg;
   animation-name: fadeIn;
   animation-duration: 0.25s;
   animation-timing-function: ease-out;
   animation-iteration-count: 1;
}

#battery {
 border-bottom: 2px solid #BADA66; 
 margin-right: 2rem;
 padding: 0 1rem;
}

#battery:hover, #tray > *:hover, #clock:hover {
  color: white;
  border-bottom: 2px solid white;
}

#custom-power {
  font-size: 1.9rem;
  color: white;
}

#custom-power:hover,  .vpn-tool:hover {
  color: yellow;
  border-bottom: 2px solid white;
}

.vpn-tool {color: white;}
